[submodule "external/parthenon"]
	path = external/parthenon
	url = https://github.com/parthenon-hpc-lab/parthenon.git
[submodule "external/singularity-opac"]
	path = external/singularity-opac
	url = https://github.com/lanl/singularity-opac.git
[submodule "external/singularity-eos"]
	path = external/singularity-eos
	url = https://github.com/lanl/singularity-eos.git
